
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    z-index: 998;
    opacity: 0;
    transition: opacity 0.8 ease;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}

#hamburgerMenu {
    display: none; /* Hidden until screen width is small */
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Above everything else */
    background-color: #434343;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}


/*Navimachine*/

#sidebar {
    display: flex;
    position: fixed;
    border: 1px black;
    top: 0;
    left: -15vw;
    height: 100vh;
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color: #434343;
    transition: left 0.3s ease;
    z-index: 999;
}

#sidebar.active {
    left: 0;
}

.navbar-item {
    position: relative;
    background-color: #434343;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the text */
    width: 15vw; /* Adjusted for full button width */
    margin: 0.438rem 0;
    transition: width 0.3s, background-color 0.3s;
    overflow: hidden; /* Ensures content stays within the bounds */
}

.navbar-item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    width: 100%; /* Make anchor fill the parent button */
    height: 100%; /* Ensures the clickable area spans the button */
    display: flex;
    align-items: center;
    justify-content: left; /* Align text to the left */
    padding-left: 1.5rem; /* Add some padding */
}

#navbar-text {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    display: flex;
    margin: 0.438rem 1.6rem;
    font-family: "Poppins", sans-serif;
}


#navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#copyright {
    display: flex;
    position: absolute;
    top:100vh;
    transform:translateY(-100%);
}

.loginbar {
    display: flex;
    position: relative;
    border: 1px rgb(232, 232, 232);
    height: 8.5vh;
    width: 12vw;
    margin: 1rem 1rem;
    background-color: transparent;
}

.profilecircle {
    display: flex;
    border-radius: 100px;
    height: 8vh;
    width: 4vw;
    margin: 0.2rem 0.5rem;
    background-color: #ffffff;
    position: absolute;
}

.loginbutton {
    display: flex;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    top: 26px;
    left: 100px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.navbar-item:hover {
    background-color: #861010;
}

.navbar-item:hover a {
    color: #ffffff;
}

/*sidebar buttonr*/
#toggleSidebar {
    background-color: #434343;
    display: flex;
    position: absolute;
    right: -25px; /* Positioned to the right edge of the sidebar */
    top: 0;
    width: 3vw; /* Thin width for the clickable area */
    height: 100%;
    cursor: pointer;
    border: transparent;
    border-radius: 100px;
}

/*Sidebar Icons*/

.fa-street-view{
    font-size: 20px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 5vb;
    left: 1.7vb;
    transition: all 0.3s ease;
}

.fa-home{
    font-size: 20px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 13.8vb;
    left: 1.5vb;
    transition: all 0.3s ease;
}

.fa-puzzle-piece{
    font-size: 20px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 19.4vb;
    left: 1.7vb;
    transition: all 0.3s ease;
}

.fa-question {
    font-size: 20px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 25.4vb;
    left: 1.7vb;
    transition: all 0.3s ease;
}

.fa-id-badge {
    font-size: 20px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 31.3vb;
    left: 1.7vb;
    transition: all 0.3s ease;
}

.fa-info {
    font-size: 20px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 37vb;
    left: 2vb;
    transition: all 0.3s ease;
}

.fa-angle-left {
    font-size: 20px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 43vb;
    left: 2vb;
    opacity: 0;
    transition: all 0.3s ease;
}

.hide-icons {
    opacity: 0;
    transition: all 0.3s ease;
}

.hide-arrow.fa-angle-left {
    opacity: 100;
    transition: all 0.3s ease;
}

@media (max-width: 1536px){
    #toggleSidebar {
        width: 4vw; /* Thin width for the clickable area */
    }

    /*Sidebar Icons*/

.fa-street-view{
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 7vb;
    left: 3.5vb;
    transition: all 0.3s ease;
}

.fa-home{
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 16vb;
    left: 3.5vb;
    transition: all 0.3s ease;
}

.fa-puzzle-piece{
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 23.2vb;
    left: 3.7vb;
    transition: all 0.3s ease;
}

.fa-question {
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 30.7vb;
    left: 3.5vb;
    transition: all 0.3s ease;
}

.fa-id-badge {
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 38.2vb;
    left: 3.5vb;
    transition: all 0.3s ease;
}

.fa-info {
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 45.7vb;
    left: 3.5vb;
    transition: all 0.3s ease;
}

.fa-angle-left {
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 53.5vb;
    left: 3.5vb;
    opacity: 0;
    transition: all 0.3s ease;
}
}

@media (max-width: 1366px){
    #toggleSidebar {
        width: 4vw; /* Thin width for the clickable area */
    }

    /*Sidebar Icons*/

.fa-street-view{
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 8vb;
    left: 3.5vb;
    transition: all 0.3s ease;
}

.fa-home{
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 17vb;
    left: 3.5vb;
    transition: all 0.3s ease;
}

.fa-puzzle-piece{
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 25.6vb;
    left: 3.7vb;
    transition: all 0.3s ease;
}

.fa-question {
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 34.4vb;
    left: 3.5vb;
    transition: all 0.3s ease;
}

.fa-id-badge {
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 43.5vb;
    left: 3.5vb;
    transition: all 0.3s ease;
}

.fa-info {
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 52.5vb;
    left: 3.5vb;
    transition: all 0.3s ease;
}

.fa-angle-left {
    font-size: 15px;
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 61.5vb;
    left: 3.5vb;
    opacity: 0;
    transition: all 0.3s ease;
}
}

@media screen and (max-width:768px) {
    #sidebar {
        left: -100%; /* Hidden off-screen */
        width: 100%; /* Full width on small screens */
    }

    #sidebar.active {
        left: 0; /* Slide into view */
    }

    #hamburgerMenu {
        display: block; 
    }
    
    .navbar-item {
        width: 90vw; /* Adjusted for full button width */
        height: 10vh;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .loginbar {
        display: flex;
        position: relative;
        border: 1px rgb(232, 232, 232);
        height: 8.5vh;
        width: 40vw;
        margin: 1rem 1rem;
        background-color: transparent;
        left: 60px;
    }
    
    .profilecircle {
        display: flex;
        border-radius: 100px;
        height: 8vh;
        width: 14vw;
        margin: 0.2rem 0.5rem;
        background-color: #ffffff;
        position: absolute;
    }
    
    .loginbutton {
        display: flex;
        position: relative;
        text-decoration: none;
        color: #ffffff;
        top: 26px;
        left: 100px;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
    }
    
    .navbar-item:hover {
        background-color: #861010;
    }
    
    .navbar-item:hover a {
        color: #ffffff;
    }

    #toggleSidebar {
        display: none;
    }
}